Repository axieum/authme, pull requests merged in 2021-12, with the labels that each got.

#29 feat: upgrade to Minecraft 1.18
  .github/workflows/build.yml
  .github/workflows/publish.yml
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/main/java/me/axieum/mcmod/authme/api/gui/widget/PasswordFieldWidget.java
  src/main/java/me/axieum/mcmod/authme/api/util/MicrosoftUtils.java
  src/main/java/me/axieum/mcmod/authme/api/util/MojangUtils.java
  src/main/java/me/axieum/mcmod/authme/api/util/SessionUtils.java
  src/main/resources/fabric.mod.json
Labels: build, ci

#34 Add zh_cn language
  src/main/resources/assets/authme/lang/zh_cn.json
Labels: i18n

#35 1.18.1 and German translation
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/me/axieum/mcmod/authme/mixin/RealmsGenericErrorScreenMixin.java
  src/main/resources/assets/authme/lang/de_de.json
Labels: build, i18n
